.limit{
  margin: 0 auto;
  max-width: 980px;
}
input:focus{
  outline: none !important;
}

*:focus {
  outline: none !important;
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #1f1f1f5e !important;
  box-shadow: 0 0 0 .25rem rgba(13, 109, 253, 0) !important;
}